<div class = "about col-xs-10 col-xs-offset-1">
	<h1>About Splurty</h1>
		<p>Splurty was built by <a target="_blank" href="https://github.com/jteklu">Jonathan</a>. An aspiring web developer who is on a mission to learn rails, data-structures and algorithm.
		</p>
		<br />
		<p>
			An extremely talented strategist and program developer within complex environments…effective multilingual international professional…with highly developed cross-cultural interpretation and communication aptitudes…adept at analyzing and synthesizing complex events and data…excellent at attending to detail and recognizing patterns…a proactive and empathic team player…a skilled and effective problem solver   
		</p>
		<p> If you want to learn how to code - <a target="_blank" href="http://thefirehoseproject.com/">start here and now</a>.
		</p>
</div>