<h2>
	<span>Splurty / <%= @quote.unique_tag %></span>
	You know it's <u>time to move on</u> when ...

	<br />
	<br />
</h2>

<h1><%= @quote.saying %></h1>
<h2 class = "pull-right">- <%= @quote.author %></h2>

<br class = "clear" />
<br />
<br />
<br />